*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml

.DS_Store
/build
/app/build/generated
/app/build/intermediates
/app/build/tmp
/app/.cxx/
/app/.cxx/cmake/
/app/build/generated/outputs
/app/release
/captures
.externalNativeBuild
*.o
*.txt
*.log
*.apk
*.json
